<%- include("partials/header.ejs") %>

<h1>Todays Tasks</h1>

<% var i = 0 %>

<% tasks.forEach((task) => { 
    if (task['date'] === today) {%>
        
    
    <input type="checkbox" id="<%=i%>">
    <p id="p<%=i%>"><%= task['description'] %></p><br>
    <%i++%>
<% }}); %>


<%- include("partials/footer.ejs")%>